body{
    padding: 10px;
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-pdf{
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
    padding-bottom: 10px;
  }
  
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    background: #BCD;
}

tr:nth-child(even) {background: #DDD}
tr:nth-child(odd) {background: #CCC}


#sheetjsexport {
    text-align: center;
    font-size: 15px;
    padding: 5px 10px;
  }
  #printbutton {
    padding: 5px 10px;
    text-align: center;
    font-size: 15px;
  }
.error{
    background-color: #fc6a62;
    color: white;
    padding: 5px;
    margin: auto;
}
#link{
    width: 100%;
    max-width: 450px;
    
}

.importfile, .chooseyear, .writedate, #container, .submit{
    padding: 10px;
    
}
#input-button{
  padding: 5px 10px;
  font-size: 15px;
 
}
.export{
  padding-bottom:20px ;
}
.warning{
    padding-left: 10px;
    color: #ffcc00;
}

a:link {
    color: lightseagreen;
    background-color: transparent;
  }
  
  a:visited {
    color: lightseagreen;
    background-color: transparent;
  }
  
  a:hover {
    color: white;
    background-color: lightseagreen;
  }
  
  a:active {
    color: lightseagreen;
    background-color: transparent;
    text-decoration: underline;
  }

#output.failed{
color:#fc6a62;  
font-size: medium;

}
#output.successed{
color:#4CAF50;
font-size: medium;
}
#output.system{
  color: gray;
  font-size: medium;
  }

span + span {
  margin-left: 10px;
}